html
  head
    title randomQuotes!
    link(rel="stylesheet", href="../public/stylesheets/style.css")
    script(src="../public/javascript/main.js", type="text/javascript")
  body
    h1 Content goes here
