@media (min-width: 700px){ /* anytime window >= 500px*/
  body {
    background-color: lightblue;
  }  
}

@media (max-width: 699px){ /*anytime less than 499px*/
  body {
    background-color: pink;
  }
}

#btn-twitter {
  border: 1px solid black !important;
}

#movie-quote {
  border: 1px solid yellow;
}

.author-area {
  border: 2px solid green;
}

.btn-area-container {
  display: flex;
  flex-direction: column;
}

.quote-area {
  border: 2px solid blue;
}

.success {
  background-color: lightgreen;

}
